

<ion-view title="Applied Session" hide-back-button="true" id="page10" class=" ">
    <div class="bar bar-header bar-light" style="background-color:#F8F8F8">
        <h1 class="title">Applied Session</h1>
    </div>
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="appliedSession-list-item-container4">
            <form id="appliedSession-form19" class="list ">
                <h3 id="appliedSession-heading4" style="color:#000000;text-align:center;" class=" ">Session Name</h3>
                <label class="item item-input " id="appliedSession-textarea2">
                <span class="input-label"></span><textarea placeholder="Session Name"></textarea>
                </label>
                <h3 id="appliedSession-heading5" style="color:#000000;text-align:center;" class=" ">Audition Description</h3>
            </form>
        </div>
        <form id="appliedSession-form12" class="list ">
            <div class="item item-body " id="appliedSession-list-item-container5">
        <form id="appliedSession-form20" class="list ">
        <label class="item item-input " id="appliedSession-textarea3">
        <span class="input-label"></span><textarea placeholder="Audition Description"></textarea>
        </label>
        </form>
        <h3 id="appliedSession-heading7" style="color:#000000;text-align:center;" class=" ">Audition Location</h3>
        <form id="appliedSession-form22" class="list ">
        <label class="item item-input " id="appliedSession-textarea4">
        <span class="input-label"></span><textarea placeholder="Location "></textarea>
        </label>
        </form>
        <h3 id="appliedSession-heading6" style="color:#000000;text-align:center;" class=" ">Audition Instructions</h3>
        <button id="appliedSession-button12" style="font-weight:600;color:#413C3C;font-size:14px;" class=" button button-balanced  button-block icon-right ion-ios-download ">Download</button>
        </div>
        </form>
        <div class="spacer" style="width: 300px; height: 6px;"></div>
        <div id="appliedSession-button-bar2" class=" button-bar "></div>
    </ion-content>
</ion-view>

