<ion-view title="Resume" id="page18" >
<div class="bar bar-header bar-light" style="background-color:#F8F8F8">
<button class="button-icon icon ion-ios-arrow-back" ng-click="$ionicGoBack()"> Back</button>
          <h1 class="title">Resume</h1>
      </div>
    <ion-content padding="true" class="has-header">
        <h3 id="resume-heading16" style="color:#000000;font-weight:600;text-align:center;" class=" ">Add a Resume</h3>
        <h5 id="resume-heading14" style="color:#000000;text-align:center;" class=" ">Pdf Only</h5>
      
            <label class="item item-select " id="resume-select4" name="Resume">
                <span class="input-label">Upload</span>
                <select>
                    <option>Resume</option>
                    <option>Document</option>
                </select>
            </label>
        
		
        <a id="resume-button23" style="color:#160B03;" class=" button button-balanced  button-block" ng-click="showValue()"><i class="icon ion-android-folder-open"></i> {{btn_val}}</a>
		
		<button id="resume-button24" style="color:#160B03;" class=" button button-balanced  button-block">Submit</button>
		
    </ion-content>
</ion-view>