<ion-view title="Sign Up" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/CJY1vGbQToet7A7Lyz1R_destinivers3.png" width="80%" height="35%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="signUp-form4" class="list ">
            <ion-list id="signUp-list6" class=" ">
                <label class="item item-input " id="signUp-input8">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input9">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input10">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="tabsController.profile" id="signUp-button6" style="font-weight:600;color:#160B03;" class=" button button-balanced  button-block ">Create My Account</a>
        </form>
    </ion-content>
</ion-view>