<ion-view title="Submission Confirmation" hide-back-button="true" id="page13" class=" ">
<div class="bar bar-header bar-light" style="background-color:#F8F8F8">
          <h1 class="title">Submission Confirmation</h1>
      </div>
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <p id="submissionConfirmation-markdown13" style="color:#000000;" class=" ">Your application has been successfully submitted. You may review your submission in the
            <strong>Application History</strong>tab.</p>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <a ui-sref="tabsController.open" id="submissionConfirmation-button24" style="font-weight:600;color:#160B03;" class=" button button-balanced  button-block ">Return to Dashboard</a>
        <a ui-sref="tabsController.historyAndStatus" id="submissionConfirmation-button25" style="font-weight:600;color:#160B03;" class=" button button-balanced  button-block ">View Submitted Application</a>
    </ion-content>
</ion-view>